#heading{
    background-color: black;

}



.bg{
        background-color: white;

}

.row{
        background-color: #f4f4f4;
        
           
}

#ques{
    background-color: white;
    padding:15px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #888888

}
#main{
    padding:40px;
}

